Source Code/PaymentService/WebContent/wsdl/ticketInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getdata">
    <complexType>
     <sequence>
      <element name="personid" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getdataResponse">
    <complexType>
     <sequence>
      <element name="getdataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getdataRequest">

      <wsdl:part element="impl:getdata" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getdataResponse">

      <wsdl:part element="impl:getdataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ticketInfo">

      <wsdl:operation name="getdata">

         <wsdl:input message="impl:getdataRequest" name="getdataRequest">

       </wsdl:input>

         <wsdl:output message="impl:getdataResponse" name="getdataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ticketInfoSoapBinding" type="impl:ticketInfo">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getdata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getdataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getdataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ticketInfoService">

      <wsdl:port binding="impl:ticketInfoSoapBinding" name="ticketInfo">

         <wsdlsoap:address location="http://localhost:8080/PaymentService/services/ticketInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
